%%% -*- mode: erlang -*-

{require_min_otp_vsn, "R15"}.

{xref_checks, [undefined_function_calls, deprecated_function_calls]}.

{deps, [{pmod_transform, "", {git, "git://github.com/ubf/pmod_transform.git"}}
        , {ubf, "", {git, "git://github.com/ubf/ubf.git"}}
        , {mochiweb, "", {git, "git://github.com/ubf/mochiweb.git"}}
       ]}.
