%%% -*- mode: erlang -*-

%% Require OTP version R13B04 or R14
{require_otp_vsn, "R13B04|R14"}.

%% Erlang compiler options
{erl_opts, [debug_info, warnings_as_errors
            , {i, "../ubf/include/"}
            , {platform_define, "R13", 'old_inets'}
           ]}.

%% EUnit options
{eunit_opts, [verbose]}.
