%%% -*- mode: erlang -*-

{require_otp_vsn, "R13B04|R14|R15"}.

{erl_opts, [warnings_as_errors
            , {platform_define, "R13", 'old_inets'}
            , {platform_define, "R13|R14", 'old_inets_httpc_before_r15b'}
           ]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls]}.

{deps, [{ubf, "", {git, "git://github.com/ubf/ubf.git"}}
        , {mochiweb, "", {git, "git://github.com/ubf/mochiweb.git"}}
       ]}.
